# Git
.git
.gitignore

# Docker
.docker

# Python
project/__pycache__/
project/*/__pycache__/
project/*/*/__pycache__/
project/*/*/*/__pycache__/
application/__pycache__/
application/*/__pycache__/
application/*/*/__pycache__/
application/*/*/*/__pycache__/
.env/
.venv/
venv/